html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: Reey Regular;
  src: url(../fonts/reey_regular.otf); }

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v17-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../fonts/open-sans-v17-latin-italic.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/open-sans-v17-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("../fonts/open-sans-v17-latin-700italic.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("../fonts/open-sans-v17-latin-800.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url("../fonts/open-sans-v17-latin-800italic.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-800italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

.menu {
  display: flex;
  justify-content: flex-end;
  height: 100px;
  font-size: 1vw;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 2pt;
  text-align: right; }
  @media only screen and (min-width: 1850px) {
    .menu {
      font-size: 1.075vw; } }
  @media only screen and (max-width: 1300px) {
    .menu {
      font-size: 1.2vw; } }
  @media only screen and (max-width: 870px) {
    .menu {
      font-size: 1.5vw; } }
  @media only screen and (max-width: 810px) {
    .menu .link-menu {
      display: none; } }
  .menu .menu_home {
    padding-right: 60px;
    padding-top: 70px; }
  .menu .menu_menu {
    padding-right: 60px;
    padding-top: 70px; }
  .menu .menu_our-story {
    padding-right: 60px;
    padding-top: 70px; }
  .menu .menu_contact-us {
    padding-right: 60px;
    padding-top: 70px; }
  .menu .menu_form {
    padding-right: 60px;
    padding-top: 70px;
    padding-top: 55px; }
  .menu .search-form {
    border-radius: 25px;
    background-color: #eaeaeb;
    color: #2e3034;
    width: 180px;
    height: 50px;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent; }
    .menu .search-form .search-image {
      padding-top: 11px;
      padding-right: 20px; }
  .menu .link-menu {
    color: inherit;
    text-decoration: none; }
    .menu .link-menu:hover {
      transition: color .5s linear;
      color: #b6b6b9; }

.bottom-header {
  display: flex;
  flex-direction: row;
  height: 90.5303%; }

.left-bottom-header {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  width: 47.15278%; }
  @media only screen and (max-width: 870px) {
    .left-bottom-header {
      width: 77.08333%; } }
  @media only screen and (max-width: 570px) {
    .left-bottom-header {
      width: 100%;
      align-items: center;
      justify-content: center; } }
  .left-bottom-header .title {
    font-family: 'Reey Regular', 'Open Sans', sans-serif;
    font-size: 6vw;
    padding-left: 100px;
    padding-top: 40px; }
    @media only screen and (min-width: 1850px) {
      .left-bottom-header .title {
        font-size: 6.45vw; } }
    @media only screen and (max-width: 870px) {
      .left-bottom-header .title {
        font-size: 9vw; } }
    @media only screen and (max-width: 700px) {
      .left-bottom-header .title {
        font-size: 9.9vw; } }
    @media only screen and (max-width: 560px) {
      .left-bottom-header .title {
        font-size: 14.1vw; } }
  .left-bottom-header .img {
    padding-top: 100px;
    padding-left: 100px; }
    @media only screen and (min-width: 1850px) {
      .left-bottom-header .img .img_logo {
        width: 166px;
        height: 139px;
        padding-top: 30px; } }
    @media only screen and (max-width: 1300px) {
      .left-bottom-header .img .img_logo {
        width: 126px;
        height: 99px; } }
    @media only screen and (max-width: 570px) {
      .left-bottom-header .img {
        padding-top: 10px; }
        .left-bottom-header .img .img_logo {
          width: 106px;
          height: 79px; } }
  .left-bottom-header .subtitle {
    padding-top: 100px;
    padding-left: 100px;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5vw;
    letter-spacing: 4pt; }
    @media only screen and (min-width: 1850px) {
      .left-bottom-header .subtitle {
        font-size: 1.6125vw;
        padding-top: 80px; } }
    @media only screen and (max-width: 1300px) {
      .left-bottom-header .subtitle {
        font-size: 1.8vw; } }
    @media only screen and (max-width: 870px) {
      .left-bottom-header .subtitle {
        font-size: 2.25vw; } }
    @media only screen and (max-width: 700px) {
      .left-bottom-header .subtitle {
        font-size: 2.475vw; } }
    @media only screen and (max-width: 560px) {
      .left-bottom-header .subtitle {
        font-size: 4.7vw; } }
  .left-bottom-header .btn-read-more {
    border-radius: 25px;
    background-color: #eaeaeb;
    color: #2e3034;
    width: 218px;
    height: 47px;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    margin-top: 60px;
    margin-left: 100px;
    border: none;
    outline: none;
    user-select: none; }
    @media only screen and (min-width: 1850px) {
      .left-bottom-header .btn-read-more {
        border-radius: 25px;
        background-color: #eaeaeb;
        color: #2e3034;
        width: 228px;
        height: 57px;
        outline: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
        margin-top: 20px; } }
    @media only screen and (min-width: 1025px) {
      .left-bottom-header .btn-read-more:hover {
        cursor: pointer;
        transition: background-color .2s linear;
        background-color: #b6b6b9; }
      .left-bottom-header .btn-read-more:active {
        background-color: #68686e; } }
    @media only screen and (max-width: 1025px) {
      .left-bottom-header .btn-read-more:active {
        background-color: #b6b6b9; } }
    .left-bottom-header .btn-read-more .text-btn-read-more {
      color: inherit;
      font-weight: 800;
      text-decoration: none;
      margin: auto;
      font-size: 20px; }
      @media only screen and (min-width: 1850px) {
        .left-bottom-header .btn-read-more .text-btn-read-more {
          font-size: 22px; } }
      @media only screen and (max-width: 1300px) {
        .left-bottom-header .btn-read-more .text-btn-read-more {
          font-size: 24px; } }
      .left-bottom-header .btn-read-more .text-btn-read-more:hover {
        transition: color .5s linear;
        color: black; }
  .left-bottom-header .text {
    width: 73.52941%;
    height: 70px;
    letter-spacing: 1pt;
    font-size: 1.35vw;
    font-style: italic;
    padding-top: 25px;
    padding-left: 100px; }
    @media only screen and (min-width: 1850px) {
      .left-bottom-header .text {
        font-size: 1.45125vw;
        padding-top: 5px; } }
    @media only screen and (max-width: 1300px) {
      .left-bottom-header .text {
        font-size: 1.62vw; } }
    @media only screen and (max-width: 870px) {
      .left-bottom-header .text {
        font-size: 2.025vw; } }
    @media only screen and (max-width: 700px) {
      .left-bottom-header .text {
        font-size: 2.2275vw; } }
    @media only screen and (max-width: 560px) {
      .left-bottom-header .text {
        font-size: 4.7vw; } }
  @media only screen and (max-width: 570px) {
    .left-bottom-header .title {
      padding-left: 0; }
    .left-bottom-header .img {
      padding-left: 0; }
    .left-bottom-header .subtitle {
      padding-left: 0; }
    .left-bottom-header .btn-read-more {
      margin-left: 0; }
    .left-bottom-header .text {
      padding-left: 0; } }

.right-bottom-header {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  width: 52.77778%;
  height: 1110px; }
  @media only screen and (max-width: 870px) {
    .right-bottom-header {
      width: 22.91667%; } }
  @media only screen and (max-width: 570px) {
    .right-bottom-header {
      width: 0%; } }
  .right-bottom-header .img-plate {
    position: absolute;
    top: 13.51351%;
    right: 4.60526%; }
    .right-bottom-header .img-plate .plate {
      width: 44.7vw;
      height: 44.7vw; }
    @media only screen and (min-width: 1850px) {
      .right-bottom-header .img-plate {
        right: 9.21053%; }
        .right-bottom-header .img-plate .plate {
          width: 31.7vw;
          height: 31.7vw; } }
    @media only screen and (max-width: 870px) {
      .right-bottom-header .img-plate {
        right: -93.93939%; } }
    @media only screen and (max-width: 570px) {
      .right-bottom-header .img-plate {
        display: none; } }
  .right-bottom-header .img-sauce {
    position: absolute;
    top: 55.85586%;
    right: 65.78947%; }
    .right-bottom-header .img-sauce .sauce {
      width: 20vw;
      height: 21vw; }
    @media only screen and (min-width: 1850px) {
      .right-bottom-header .img-sauce .sauce {
        width: 12vw;
        height: 13vw; } }
    @media only screen and (max-width: 1170px) {
      .right-bottom-header .img-sauce {
        top: 46.84685%; } }
    @media only screen and (max-width: 870px) {
      .right-bottom-header .img-sauce {
        right: -9.09091%;
        top: 42.34234%; } }
    @media only screen and (max-width: 570px) {
      .right-bottom-header .img-sauce {
        display: none; } }
  .right-bottom-header .img-foliage {
    position: absolute;
    top: 55.40541%;
    left: 35.52632%; }
    .right-bottom-header .img-foliage .foliage {
      width: 38vw;
      height: 32vw; }
    @media only screen and (max-width: 1190px) {
      .right-bottom-header .img-foliage {
        top: 46.3964%; } }
    @media only screen and (max-width: 930px) {
      .right-bottom-header .img-foliage {
        top: 37.38739%; } }
    @media only screen and (max-width: 870px), (min-width: 1650px) {
      .right-bottom-header .img-foliage {
        display: none; } }

* {
  margin: 0;
  color: #eaeaeb; }

a {
  outline: none; }

/*# sourceMappingURL=style.css.map */
