@mixin btn ($width, $height, $bg-color,  $font-color){
    border-radius: 25px;
    background-color: $bg-color;
    color: $font-color;
    width: $width;
    height: $height;
    outline: none; 
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

@mixin btn_used ($bg-color) {
    @media only screen and (min-width: 1025px) {
        &:hover {
            cursor: pointer;
            transition: background-color .2s linear;
            background-color: darken($bg-color, 20%);
        }

        &:active {
            background-color: darken($bg-color, 50%);
        }
    }
    @media only screen and (max-width: 1025px) {
        &:active {
            background-color: darken($bg-color, 20%);
        } 
    }
}