$path_img: '../img/';
$font: 'Open Sans', sans-serif;
$font-color-white: #eaeaeb;
$font-color-black: #2e3034;
$font-color-title-section: #222328;
$font-size: 1vw;
$font-size-large: 1.075vw;
$font-size-laptop: 1.2vw;
$font-size-tablet: 1.5vw;
$font-size-mobile: 1.65vw;
$font-size-mobile-small: 2.35vw;
$font-size-button: 20px;
$section-text-bg-color: #27292c;