@import "_vars.scss";
@import "_fonts.scss";

* {
    margin: 0;
    color: $font-color;
}

.menu {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    font-size: 12pt;
    font-family: $font;
    font-weight: bold;
    letter-spacing: 2pt;
    text-align: right;
    @each $element in home, menu, our-story, contact-us, form {
        & .menu_#{$element} {
            padding-right: 60px;
            padding-top: 70px;
            @if $element == form {
                padding-top: 55px;
            }
        }
    }
    & .search-form {
        border-radius: 25px;
        background-color: $font-color;
        color: black;
        width: 180px;
        height: 50px;

        & .search-image{
            padding-top: 11px;
            padding-right: 20px;
        }
    }

    & .link-menu {
        color: inherit;
        text-decoration: none;

        &:hover {
            transition: color .5s linear;
            color: darken($font-color, 20%);
        }
    }
}

.left-bottom-header {
    display: flex;
    flex-direction: column;
    font-family: $font;
    & .title {
        font-family: 'Reey Regular', 'Open Sans', sans-serif;
        font-size: 7 * $font-size;
        padding-left: 90px;
        padding-top: 40px;
    }
    & .img {
        padding-top: 100px;
        padding-left: 100px;
    }

    & .subtitle {
        padding-top: 100px;
        padding-left: 100px;
        font-weight: bold;
        font-style: italic;
        font-size: 1.5 * $font-size;
        letter-spacing: 4pt;
    }

}

.header {
    background: url('#{$path_img}header/header_bg.jpg') no-repeat;
    background-size: 100%;
    width: 100%;
    height: 1056px;
    //height: 100vh;
}



