@import "_vars.scss";

* {
    margin: 0;
}

.menu {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    font-family: $font;
    font-weight: bold;
    letter-spacing: 2pt;
    color: $font-color;
    text-align: right;
    @each $element in home, menu, our-story, contact-us, form {
        & .menu_#{$element} {
            padding-right: 60px;
            padding-top: 70px;
            @if $element == form {
                padding-top: 55px;
            }
        }
    }
    & .search-form {
        border-radius: 25px;
        background-color: $font-color;
        color: black;
        width: 180px;
        height: 50px;
    }
}

.header {
    background: url('#{$path_img}header/header_bg.jpg') no-repeat;
    background-size: 100%;
    width: 100%;
    //height: 1056px;
    height: 100vh;
}

